/*
  form related styles
*/

/*
  basic enclosing form div
*/

.dialog {
  font-family:verdana,sans-serif;
  font-size:85%;
}

.dialog h1 {

}

.dialog fieldset {
  margin:1em;
  padding:5px;
  border:1px solid gray;
}


.dialog fieldset legend
{
  margin:0 1em;
  padding: 0px 5px;
  border:1px solid gray;
}

.dialog fieldset table {
  width:90%
}

.dialog fieldset table .labelcol {
  width:25%
}
