
html, body {
    height: 100%;
    background-color:aliceblue;
    margin:5px;
}

#doc4, #bd {
    height: 90%;
}
#bd {
  margin-top:0px;
}

#hd {
  border-bottom: 4px solid gray;
}

#headline {
  font-size:36px;
  font-family:sans-serif;
  text-align:right;
  padding-top:1em;
  color:#005A7C
}

#menu {
   border-bottom:1px solid gray;
}

#navigation_main {
  width:80%;
  margin:8px auto;
}

#sidebar {
  border:1px solid gainsboro;
  margin-top:8px;
}
#sidebar ul {
  margin-top:5px;
  margin-left:10px;
}
#sidebar ul li {
  padding:0.33em
}

#status {
  border-bottom:1px solid gray;
}

#content {
  margin-top:1.4em;
  font-size:116%;
}

#ft {
  border-top:1px solid gray;
  color:gray;
  text-align:center;
}



/*
  styles for the various status line elements
*/
#status #flashmsg {
  font-size:87%;
  margin-top:5px;
  margin-bottom:auto;
  color:darkorange;
}

#status #not-logged-in {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  text-align:right;
}

#status #not-logged-in input {
  border: 1px solid lightgray;
  font-size: 87%;
  width:70px;

}

#status #logged-in {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  margin-top:5px;

  margin-bottom:5px;
  text-align:right;
}

/* hide subnavigation in grails default scaffolding */
#content .nav {
  display:none;
}



